## MAC files ##
.DS_Store
.gitkeep

## NPM ##
npm
node_modules/

## environment variables ##
.env

## seeding files ##
reviews.csv
users.csv
restaurants.csv
reviews.gz
restaurants.gz
users.gz

## keys ##
aws-keys.json
newrelic.js

## logs ##
newrelic_agent.log
npm-debug.log