## MAC files ##
.DS_Store
.gitkeep

## NPM ##
npm
npm-debug.log
node_modules/

## environment variables ##
.env

## seeding files ##
reviews.csv
users.csv
restaurants.csv

## keys ##
aws-keys.json
newrelic.js